<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>방명록 글쓰기</h2>

	<form action="/guest/insertok/" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>글 제목</td>
				<td><input type="text" name="title" size="48"></td>
			</tr>
			<tr>
				<td>글 내용</td>
				<td>
					<textarea rows="5" cols="50" name="content"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
				<input type="submit" value="전송">
				<input type="button" value="이전" onclick="history.back()">
				
				</td>
				
			</tr>
		</table>
	</form>
</body>
</html>