<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
window.onload = function(){
	
	document.getElementById("btnReplyOk").onclick = function(){
		chkFunc();
	}
}
function chkFunc(){
	if (frm.name.value === '' || frm.passwd.value === ''){
				//... 더 많이 해야하지만 여기서는 생략
				alert('입력자료를 모두 채우세요');
				return;
	}
	frm.submit();					// Ecma script
}
</script>
</head>
<body>
<h2>댓글 입력</h2>
	<form action="/board/replyok/" method="post" name="frm">
	<input type="hidden" name="id" value="{{data_one.id}}">
	<input type="hidden" name="gnum" value="{{data_one.gnum}}">
	<input type="hidden" name="onum" value="{{data_one.onum}}">
	<input type="hidden" name="nested" value="{{data_one.nested}}">
	
		{% csrf_token %}
		<table style="width: 70%;" class="table table-striped">
			<tr>
				<td>작성자</td>
				<td><input type="text" name="name" placeholder="이	름입력"> </td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="text" name="passwd" placeholder="비밀번호입력"> </td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="text" name="mail"> </td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input type="text" name="title" size="48" value="[RE]{{data_one.title}}"> </td>
			</tr>
			<tr>
				<td>내용</td>
				<td>
					<textarea rows="5" cols="50" name="cont"></textarea> 
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<input type="button" id="btnReplyOk" value="댓글 등록"> 
				<input type="button" id="btnBack" value="뒤로" onclick = "history.back()"></td>
			</tr>
		</table>
	</form>
</body>
</html>